{% unless grid_image_width %}
  {%- assign grid_image_width = '600x600' -%}
{% endunless %}
<div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
  <a class="grid-view-item__link has-secondary" href="{{ product.url | within: collection }}">
    <img class="grid-view-item__image primary" src="{{ product.featured_image.src | img_url: grid_image_width }}" alt="{{ product.featured_image.alt }}">
    <div class="secondary">
        <p class="grid-view-item__title">{{ product.title }}</p>
    </div>
     {% comment %} <img src="{{ product.images.last | img_url: grid_image_width }}" alt="{{ product.images.last.alt | escape }}"> {% endcomment %}
  </a>
</div>
